$drap-pozadina: #fff6ea;
$svetla-slova:bisque;
$tamna-slova:#3a1600;
$hover-slova:goldenrod;
$hover-pozadina:antiquewhite;

$mobileM: 320px;
$mobileL: 376px;
$tablet:  426px;
$laptop:  769px;
$laptopL: 1025px;